<h1>Contact form</h1>
<h2>Viktor</h2>
<form method="post" action="send">
    <div class="row">
        <div class="six columns">
            <label for="exampleEmailInput">Your email</label>
            <input class="u-full-width" name="userEmail" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
        </div>
        <div class="six columns">
            <label for="exampleNameInput">Your name</label>
            <input class="u-full-width" name="userName" type="text" placeholder="John Doe" id="exampleNameInput">

        </div>
    </div>
    <label for="exampleMessage">Message</label>
    <textarea class="u-full-width" name="userText" placeholder="Hi Dave …" id="exampleMessage"></textarea>
    <input class="button-primary" type="submit" value="Submit">
</form>
<a href="/">Go to home page</a>