<h1>Home page</h1>
<h2>Viktor my personal site main page</h2>
<img src="src/img/pizza-g11d803a49_640.jpg" alt="pizza">
<ul>
    <li>
        <a href="/about">Go to about page</a>
    </li>
    <li>
        <a href="/contact">Go to contact page</a>
    </li>
</ul>

