<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.0.4/skeleton.min.css"
        integrity="sha512-ueoqNY+6nfi63K7iq8cHp1Gfk9OvmLbZPrYSVZltXbcAh6hxt2kasv3EOOJ7yd9nHrjegN1RKeKfapZ41PnJew=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/dist/app.css">
    <title>Example App</title>
</head>
<body>

    {{{body}}}
<script src="/dist/app.js"></script>
</body>
</html>